<div class="col-10 offset-1 About">
	<h1> About Splurty</h1>
	 <p>
    Splurty was built by <a target="_blank" href="https://github.com/BurtJMilt/splurty">Burt Miltenberger</a> A man on a mission to figure out how to buid these maddening things so well that he never has to step foot in an office again
  </p>
  <br />
 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


  <div class="row">
  	<div class="col-12 col-sm-4">
  		<%= image_tag 'me.jpg', class: 'img-fluid'%>


</div>

<div class="col-12 col-sm-7 offset-sm-1">
	<h2 class="text-center">Burt Miltenberger</h2>
	<br />
	<p>
		Burt is an aspiring Full Stack Developer 
	</p>
	
	</div>

</div>

<br class="clear" /> 

<br />

<br />

<br />

<br />

